<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="asService" className="com.minis.test.impl.AsServiceImpl">
        <constructor-arg type="String" name="name" value="Victor"/>
        <constructor-arg type="Integer" name="age" value="25"/>
        <perproty type="Integer" name="age" value="261"/>
    </bean>
</beans>